
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="font-family:fantasy">Exam Managment</h2>



<center>
<table class="table_style">
    <tr>
        <td>
            <div class="admin_dashboard">
                <p>
                    <button type="button" onclick="location.href ='@Url.Action("Index","Exams")'" class="admin_dashboard">Exams</button>
                </p>
            </div>
        </td>
        <td>
            <div class="admin_dashboard">
                <p>
                    <button type="button" onclick="location.href ='@Url.Action("Index","ExamResults")'" class="admin_dashboard">Exams Results Managment</button>
                </p>
            </div>
        </td>

        

        
   
</table>
</center>